html, body {
  height: 100%;
  width: 100%;
  margin:0px;  
}

#infoWrapper {
  overflow: auto;
}
.container-fluid, .col-map {
  padding: 0;
}
svg {
  z-index: 9999;
}

hr {
  margin: 10px 0px;
}

#conductedForAreaCount, #filteredForAreaCount {
  font-weight: bold;
}


.filterQuestionBox {
  margin-top: 6px;
  border-bottom: 1px solid #6d6e70;
}

.mappedMarkers {
	cursor: pointer;
}
.filteredOut {
  fill-opacity: 0.0;
}


/*.municipalityPolygon {
  stroke: #f5f5f5;
  fill: #ed1b2e;
  cursor: pointer;
  opacity: 0.6;
  stroke-width: 2px;
}
.barangayPolygon {
  cursor: pointer;
}*/

.fillColorBox {
  height:12px;
  width: 12px;
  margin-right: 6px;
  border-radius: 6px;
  background-color: #bdbdbd;
  display: inline-block;
}
.heatColorBox, .filterColorBox {
  height:12px;
  width: 12px;
  margin-right: 6px;
  border-radius: 6px;
  background-color: #bdbdbd;
  display: inline-block;
}
.heatMapped span {
  background-color: red;
}
.filterMapped span {
  background-color: blue;
}
.legend-heat-option, .legend-filter-option{
  cursor: pointer;
}

.btn:focus, .btn:hover, .btn:active {
  outline: 0 !important;
}

#loading {
  position: absolute;
  z-index: 99999;
  width: 100%;
  text-align: center;
}
#loader{
  height: 280px;
  margin-top: 10px;
}

#tooltip {                      
    position:absolute;
    z-index:999;
    font-size:14px;
    color: #1a1a1a;       
    background-color: rgba(245,245,245,1);
    border-radius: 3px;
    padding: 2px;       
}    
#tooltip:empty {
    display:none;
}